.navbar{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 550px){
    .navbar{
        flex-direction: column;
        align-items: start;
    }
}