.match {
    display: flex;
    justify-content: space-between;
    margin-right: 91px;
    margin-left: 91px;
}

@media (max-width: 790px) {
    .match {
        margin-right: 41px;
        margin-left: 41px;
    }
}

@media (max-width: 550px) {
    .match {
        margin-right: 12px;
        margin-left: 12px;
    }

    .city{

        height: 22px !important;
        font-size: 18px !important;
        line-height: 22px !important;
    }
}

.city {


    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;

}

.stays {

    width: 61px;
    height: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;

}